*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background-color:rgb(242, 242, 119);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 450px;
    height: 90vh;
    display: flex;
    flex-direction: column;
    box-shadow: 2px 2px 20px rgba(0,0,0,0.4);
    background-color:coral;
}

.header h1{
    color: white;
    align-items: center;
    justify-content: center;
    display: flex;
}

.body{
    flex: 1;
    color: black;
    padding: 20px 30px;
}


.footer form{
    display:table
}

.footer p{
    font-size: large;
    font-family: sans-serif;
    padding-top: 5px;
}

form input{
    flex:1;
    height: 30px;
    border: none;
    outline: none;
    /* padding-left: 10px; */
    width: 350px;
    font-size: 16px;
}

form button{
    width: 100px;
    height: 30px;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: dodgerblue;
    margin-left: auto;
    color: white;
    cursor: pointer;
}

form button:hover{
    background-color: rgb(21, 102, 184);
    transition: 0.2s ease;
}

.wrapper
{
    height: 60vh;
    border: 0px solid;
    margin: auto;
}

.chatazinas
{
    background-color: peachpuff;
    height: 70%;
    padding: 10px;
    color: black;
    overflow: auto;
}

.vards
{
    width: 100%;
}
